.wrapper
{
	
width: 100%;
}

input
{
	width: 80%;
	/* height:30%; */
	padding: 75px;
	border: 1 px solid black;
	border: 1px solid black;
	border-radius: 37px;
	font-size:50px;
}

.col
{

width: 19%;

border: 1px solid black;

padding: 21px;

float: left;

margin: 1px;

border-radius: 25px;

background-color: antiquewhite;

text-align: center;
}

.row
{

float: left;

width: 100%;
}

.keypad
{

}